html {
    
    font-size: 10px;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #477ca7;
  }
  
  a:visited {
    color: #74638f;
  }
  
  #main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }